/* about_s1 */
.about_s1 {
  width: 100%;
  height: 45.83vw;
}
.about_s1 img {
  width: 100%;
  height: 100%;
}

/* about_s2 */
.about_s2 {
  width: 100%;
  height: 56.25vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_s2 > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about_s2 .video_box {
  width: 56.67vw;
  height: 31.88vw;
}
.about_s2 .video_box div {
  width: 100%;
  height: 100%;
}
.about_s2 .video_box div iframe {
  width: 100%;
  height: 100%;
}

/* about_s3 */
.about_s3 {
  width: 100%;
  height: 56.25vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_s3 > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about_s3 > p {
  font-size: 1.88vw;
  color: white;
  text-align: center;
  font-weight: 400;
  margin-top: 8.33vw;
}
.about_s3 > p:nth-child(3) {
  font-weight: 200;
  margin-top: 4.17vw;
  line-height: 3vw;
}
.about_s3 .article_container {
  width: 56.67%;
  height: 44.72%;
  margin-top: 4.32vw;
  display: flex;
  justify-content: space-between;
}
.about_s3 .article_container .article {
  width: 30.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1c;
}
.about_s3 .article_container .article img {
  width: 100%;
  height: 38.51%;
}
.about_s3 .article_container .article > p {
  width: 81.81%;
  color: white;
  text-align: left;
  letter-spacing: -0.05vw;
  line-height: 2vw;
}
.about_s3 .article_container .article > p:nth-child(2) {
  font-size: 1.88vw;
  font-weight: 400;
  margin-top: 1.67vw;
}
.about_s3 .article_container .article > p:nth-child(3) {
  font-size: 1.3vw;
  font-weight: 200;
  margin-top: 1.67vw;
}
.about_s3 .contact_box {
  width: 6.62%;
  height: 2.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.08vw;
  cursor: pointer;
}
.about_s3 .contact_box p {
  font-size: 1.46vw;
  font-weight: 200;
  color: white;
  letter-spacing: -0.05vw;
}
.about_s3 .contact_box img {
  width: 1.35vw;
  height: 1.35vw;
  margin-top: 0.2vw;
}

/* about_s4 */
.about_s4 {
  width: 100%;
  height: 31.25vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_s4 > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about_s4 > p {
  width: 56.67%;
  font-size: 1.56vw;
  font-weight: 700;
  color: white;
  margin-top: 6.77vw;
}
.about_s4 .article_container {
  width: 56.67vw;
  height: 8.54vw;
  margin-top: 2.71vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.about_s4 .article_container img {
  width: 6.25vw;
  height: 3.13vw;
  margin-right: 6.355vw;
}
.about_s4 .article_container img:nth-child(5n) {
  margin-right: 0;
}

/* about_s5 */
.about_s5 {
  width: 100%;
  height: 33.33vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_s5 > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
