@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 200;
  src: url(fonts/NotoSansKR-Light.ttf) format("truetype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSansKR-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/NotoSansKR-Bold.ttf) format("truetype");
}
