@media screen and (max-width: 500px) {
  /* .main_s1 */
  .main_s1 {
    width: 100vw;
  }

  /* .main_s2 */
  .main_s2 .source {
    font-size: 2.78vw;
    left: 0;
  }

  .main_s2 .text_box {
    width: 80%;
  }
  .main_s2 .text_box p {
    font-size: 3vw;
    line-height: 5vw;
    margin-top: 5vw;
  }

  /* .main_s3 */
  .main_s3 {
    height: auto;
    background-color: black;
    justify-content: center;
  }
  .main_s3 .source {
    font-size: 2.78vw;
    left: 0;
  }
  .main_s3 .article_container {
    width: 90%;
    height: auto;
    position: static;
    flex-direction: column;
    align-items: center;
    margin-top: 20vw;
    margin-bottom: 20vw;
  }
  .main_s3 .article_container .article {
    width: 100%;
    background-color: rgba(100, 100, 100, 0.1);
  }
  .main_s3 .article_container .article:nth-child(1) {
    margin: 0;
    height: auto;
    margin-bottom: 15vw;
  }
  .main_s3 .article_container .article:nth-child(2) {
    margin: 0;
    height: auto;
    margin-bottom: 15vw;
  }
  .main_s3 .article_container .article:nth-child(3) {
    margin: 0;
    height: auto;
  }
  .main_s3 .article_container .article > p:first-child {
    font-size: 8vw;
    margin-top: 10vw;
  }
  .main_s3 .article_container .article img {
    width: 30%;
    margin-top: 10vw;
  }
  .main_s3 .article_container .article .text_box {
    height: auto;
    margin-top: 5vw;
    margin-bottom: 10vw;
  }
  .main_s3 .article_container .article .text_box p {
    font-size: 4vw;
    margin-bottom: 0vw;
  }
  .main_s3 .article_container .article .text_box p:nth-child(2n) {
    margin-bottom: 5vw;
  }
  .main_s3 .article_container .article .text_box .english {
    display: block;
    font-size: 3vw;
    font-weight: 200;
  }
  .main_s3 .article_container .article:hover .korean {
    display: block;
  }
  .main_s3 .article_container .article:hover .english {
    display: block;
  }

  /* .main_s4 */
  .main_s4 {
    height: 177.78vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_s4 > p:nth-child(2) {
    margin-left: 0;
    text-align: center;
    font-size: 5vw;
    margin-top: 20vw;
  }
  .main_s4 > img:nth-child(3) {
    margin-left: 0;
    margin-top: 10vw;
    width: 40vw;
    height: fit-content;
  }
  .main_s4 > img:nth-child(4) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .main_s4 .article_container {
    width: 100%;
    margin: 0;
    margin-top: 20vw;
    height: auto;
    flex-direction: column-reverse;
  }
  .main_s4 .article_container .video_box_container {
    width: 100vw;
    height: 60vw;
    margin-left: 5vw;
  }
  .main_s4 .article_container .video_box_container .video_scroll > img {
    width: 70vw;
    height: 39.375vw;
    margin-right: 10vw;
  }
  .main_s4 .article_container .video_box_container #mobile {
    display: flex;
  }
  .main_s4 .article_container .text_box {
    margin: 0 auto;
    margin-top: 30vw;
  }
  .main_s4 .article_container .text_box p {
    text-align: center;
  }
  .main_s4 .article_container .text_box p:nth-child(1) {
    font-size: 9vw;
  }
  .main_s4 .article_container .text_box p:nth-child(2) {
    font-size: 4vw;
    margin-top: 5.5vw;
  }
  .main_s4 .btn_box {
    display: none;
  }

  /* .main_s5 */
  .main_s5 {
    height: auto;
    background-color: rgb(51, 51, 51);
  }
  .main_s5 video {
    z-index: 1;
  }
  .main_s5 .article_container {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    margin-top: 20vw;
    border-bottom: 1px solid black;
    z-index: 2;
  }
  .main_s5 .article_container .text_box {
    width: 100%;
    height: auto;
  }
  .main_s5 .article_container .text_box > p {
    font-size: 4vw;
    margin-left: 0vw;
    margin-top: 12vw;
    text-align: center;
    line-height: 7vw;
  }
  .main_s5 .article_container .text_box .contact_box {
    height: 20vw;
    margin-top: 12vw;
    justify-content: center;
  }
  .main_s5 .article_container .text_box .contact_box p {
    font-size: 7vw;
    margin-bottom: 1vw;
  }
  .main_s5 .article_container .text_box .contact_box img {
    width: 7vw;
    height: 7vw;
  }
  .main_s5 .article_container .img_box {
    width: 100%;
  }

  /* .main_s6 */
  .main_s6 {
    height: 222.23vw;
    border: 1px solid black;
  }
  .main_s6 > img {
    height: 101%;
    z-index: -1;
  }
  .main_s6 p:nth-child(2) {
    font-size: 7vw;
    width: 80.56%;
    margin-top: 26vw;
  }
  .main_s6 p:nth-child(4) {
    width: 80.56%;
    font-size: 5vw;
    font-weight: 200;
    line-height: 10vw;
    color: white;
    margin-top: 13.33vw;
  }
  .main_s6 .logo_container {
    width: 80.56%;
    height: 106.67vw;
    margin-top: 13.33vw;
    justify-content: space-between;
    align-content: space-between;
  }
  .main_s6 #mobile {
    display: flex;
  }
  .main_s6 .logo_container img {
    width: 41.52%;
    height: fit-content;
    margin: 0;
  }

  /* .main_s7 */
  .main_s7 {
    height: 66.67vw;
  }
}
