@media screen and (max-width: 500px) {
  /* main_s1 */
  .main_s1 {
    height: 56.25vw;
  }

  /* main_s2 */
  .main_s2 {
    height: 65vw;
  }
  .main_s2 p {
    font-size: 3.5vw;
    line-height: 7vw;
  }
  .main_s2 img {
    width: 23vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main_s2 .animate1 {
    animation: s3fadeIn 2s ease forwards;
  }
  @keyframes s3fadeIn {
    from {
      left: 0;
      opacity: 0;
    }
    to {
      /* left: 87.5%; */
      left: 50%;
      opacity: 0.7;
    }
  }
  /* main_s3 */
  .main_s3 {
    height: auto;
  }
  .main_s3 > .animate1 {
    animation: moveRight 0.7s ease forwards;
  }
  .main_s3 > img {
    width: 50vw;
    height: 14.67vw;
  }

  @keyframes moveRight {
    from {
      left: 0;
    }
    to {
      /* left: 87.5%; */
      left: 50%;
    }
  }
  .main_s3 > .animate2 {
    animation: moveLeft 0.7s ease forwards;
  }
  @keyframes moveLeft {
    from {
      right: 0;
    }
    to {
      right: 50%;
    }
  }
  .main_s3 .article_container {
    width: 95%;
    height: auto;
    margin-top: 50vw;
    margin-bottom: 0vw;
    flex-direction: column;
  }
  .main_s3 .article_container .article {
    width: 100%;
    height: 110vw;
    margin-bottom: 50vw;
  }
  .main_s3 .article_container .article:hover {
    width: 100%;
    height: 110vw;
  }
  .main_s3 .article_container:hover .article:not(:hover) {
    width: 100%;
    height: 110vw;
  }
  .main_s3 .article_container .article > p {
    font-size: 8vw;
    margin-top: 4vw;
    letter-spacing: -0.3vw;
  }

  .main_s3 .article_container .article .text_box_container .text_box {
    width: 90%;
  }
  .main_s3
    .article_container
    .article
    .text_box_container
    .text_box
    .title_box {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main_s3
    .article_container
    .article
    .text_box_container
    .text_box
    .title_box
    p {
    font-size: 3.5vw;
    margin-bottom: 2.5vw;
  }
  .main_s3
    .article_container
    .article
    .text_box_container
    .text_box
    .content_box {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main_s3
    .article_container
    .article
    .text_box_container
    .text_box
    .content_box
    p {
    font-size: 3vw;
    margin-bottom: 2.5vw;
  }

  /* main_s4 */
  .main_s4 {
    height: auto;
    margin-top: 50vw;
  }
  .main_s4 .article_container {
    width: 100%;
    height: 100%;
  }
  .main_s4 .article_container > img {
    display: none;
  }
  .main_s4 .article_container .article {
    width: 100%;
  }
  .main_s4 .article_container .article .text_box {
    margin-top: 15vw;
    /* margin-left: 5%; */
  }
  .main_s4 .article_container .article .text_box p {
    font-size: 10vw;
    line-height: 15vw;
    letter-spacing: -0.4vw;
    text-align: center;
  }
  .main_s4 .article_container .article .text_box p:last-child {
    font-size: 5.5vw;
    line-height: 9.7vw;
    margin-top: 25vw;
    letter-spacing: -0.4vw;
  }
  .main_s4 .article_container .article .scroll_container {
    height: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .main_s4
    .article_container
    .article
    .scroll_container
    .video_box_container
    .video_box {
    width: 90vw;
    height: auto;
    margin-right: 3vw;
  }
  .main_s4
    .article_container
    .article
    .scroll_container
    .video_box_container
    .video_box
    div:nth-child(1) {
    height: 50.625vw;
  }
  .main_s4
    .article_container
    .article
    .scroll_container
    .video_box_container
    .video_box:first-child {
    margin-left: 5vw;
  }
  .main_s4
    .article_container
    .article
    .scroll_container
    .video_box_container
    .video_box
    p:nth-child(2) {
    font-size: 3vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
  .main_s4
    .article_container
    .article
    .scroll_container
    .video_box_container
    .video_box
    p:nth-child(3) {
    font-size: 3.5vw;
    margin-top: 3vw;
  }
  .main_s4 .article_container .article .scroll_container::-webkit-scrollbar {
    display: none;
  }
  /* main_s5 */
  .main_s5 {
    height: auto;
    margin-top: 60vw;
  }
  .main_s5 p:nth-child(2) {
    font-size: 8.5vw;
    margin: 0;
    text-align: center;
    letter-spacing: -0.5vw;
  }
  .main_s5 .article_container > img:nth-child(1) {
    width: 100%;
    top: 10vw;
    left: 0;
    margin-top: 5vw;
  }
  .main_s5 p:nth-child(3) {
    margin: 0;
    margin-top: 80vw;
    margin-left: 5%;
    font-size: 6.5vw;
    letter-spacing: -0.4vw;
  }
  .main_s5 p:nth-child(4) {
    font-size: 6.5vw;
    margin-top: 5vw;
    margin-right: 5%;
    text-align: right;
  }
  .main_s5 .article_container .logo_box_container {
    width: 100%;
    height: auto;
  }
  .main_s5 .article_container .logo_box_container .logo_box {
    margin-top: 20vw;
    margin-bottom: 20vw;
  }
  .main_s5 .article_container .img_box {
    height: 60vw;
    margin-top: 20vw;
  }
  .main_s5 .article_container .video_box_container {
    height: 7.5vw;
    width: 100%;
    margin-top: 7vw;
  }
  .main_s5 .article_container .video_box_container > img {
    display: none;
  }
  .main_s5 .article_container .video_box_container .video_box {
    width: 100%;
    overflow-x: scroll;
  }
  .main_s5
    .article_container
    .video_box_container
    .video_box::-webkit-scrollbar {
    display: none;
  }
  .main_s5 .article_container .video_box_container .video_box img {
    width: 17.08vw;
    margin-right: 4.17vw;
  }
}
