/* nav */
.nav {
  width: 85.42%;
  height: 2.08vw;
  position: fixed;
  top: 3.23vw;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
  display: none;
}
.display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav > img {
  width: 9.58vw;
  height: 1.09vw;
  cursor: pointer;
}
.nav .nav_box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav .nav_box p {
  font-size: 1.46vw;
  font-weight: 200;
  color: white;
}
.nav .nav_box img {
  width: 1.35vw;
  height: 1.35vw;
  margin-top: 0.3vw;
  margin-left: 1vw;
}
