/* portfolio_s1 */
.portfolio_s1 {
  width: 100%;
  height: 45.83vw;
}
.portfolio_s1 img {
  width: 100%;
  height: 100%;
}

/* portfolio_s2 */
.portfolio_s2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio_s2 > p {
  width: 58.23%;
  font-size: 1.88vw;
  font-weight: 700;
  margin-top: 8.33vw;
}
.portfolio_s2 .hash_box {
  width: 58.23%;
  margin-top: 1.67vw;
  display: flex;
  justify-content: space-between;
}
.portfolio_s2 .hash_box p {
  font-size: 1.04vw;
  font-weight: 200;
  letter-spacing: -0.05vw;
}
.portfolio_s2 .article_container {
  width: 58.23vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.17vw;
}
.portfolio_s2 .article_container .video_box {
  width: 18.85vw;
  height: 15.78vw;
  margin-bottom: 5.42vw;
  margin-right: 0.84vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}
.portfolio_s2 .article_container .portfolioS2 {
  animation: portfolioS2 2s ease forwards;
}
@keyframes portfolioS2 {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.portfolio_s2 .article_container .video_box:nth-child(3n) {
  margin-right: 0;
}
.portfolio_s2 .article_container .video_box div:first-child {
  width: 100%;
  height: 10.55vw;
}
.portfolio_s2 .article_container .video_box div iframe {
  width: 100%;
  height: 100%;
}
.portfolio_s2 .article_container .video_box p {
  width: 100%;
  height: 12.38%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.04vw;
  font-weight: 400;
  padding: 0 0.5vw;
  line-height: normal;
}
.portfolio_s2 .article_container .video_box p:nth-child(2) {
  margin-top: 0.7vw;
}
.portfolio_s2 .article_container .video_box p:nth-child(3) {
  font-size: 1.46vw;
}
.portfolio_s2 > p:last-child {
  font-size: 1.04vw;
  font-weight: 200;
  text-align: center;
  margin-bottom: 25vw;
  cursor: pointer;
}

/* portfolio_s3 */
.portfolio_s3 {
  width: 100%;
  height: 33.33vw;
}
.portfolio_s3 img {
  width: 100%;
  height: 100%;
}

/* portfolioModal */
.portfolioModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #1e1e1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolioModal > p {
  width: 66.67vw;
  font-size: 0.83vw;
  font-weight: 200;
  color: white;
  margin-bottom: 1vw;
}
.portfolioModal .video_box {
  width: 66.67vw;
  height: 37.5vw;
}
.portfolioModal .video_box div {
  width: 100%;
  height: 100%;
}
.portfolioModal .video_box div iframe {
  width: 100%;
  height: 100%;
}
.portfolioModal .delete_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
